#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
      default_album_art_path: None,
      show_song_table_header: true,
      draw_borders: true,
      browser_column_widths: [20, 38, 42],
      background_color: "#1D2021",
      text_color: "#ebdbb2",
      header_background_color: None,
      modal_background_color: None,
      tab_bar: (
            enabled: true,
            active_style: (fg: "#282828", bg: "#83a598", modifiers: "Bold"),  
            inactive_style: (),
      ),
      highlighted_item_style: (fg: "#ea6962", modifiers: "Bold"),             
      current_item_style: (fg: "#D3869B", bg: "#1d2021", modifiers: "Bold"),  
      borders_style: (fg: "#83a598"),                                         
      highlight_border_style: (fg: "#ea6962", bg: "#282828", modifiers: "Bold"),                                
      symbols: (song: "S", dir: "D", marker: "M", ellipsis: "..."),
      progress_bar: (
            symbols: ["█", "", " "],
            track_style: (fg: "#3c3836"),                                     
            elapsed_style: (fg: "#D8A657"),                                   
            thumb_style: (fg: "#D8A657"),                                     
      ),
      scrollbar: (
            symbols: ["│", "█", "▲", "▼"],
            track_style: (),
            ends_style: (),
            thumb_style: (fg: "#A9B665"),                                     
      ),
      song_table_format: [
      (
                  prop: (kind: Property(Artist),
                        default: (kind: Text("Unknown"))
                  ),
                  width: "20%",
            ),
      (
                  prop: (kind: Property(Title),
                        default: (kind: Text("Unknown"))
                  ),
                  width: "35%",
            ),
      (
                  prop: (kind: Property(Album), style: (fg: "#ebdbb2"),
                        default: (kind: Text("Unknown Album"), style: (fg: "#ebdbb2"))
                  ),
                  width: "30%",
            ),
      (
                  prop: (kind: Property(Duration),
                        default: (kind: Text("-"))
                  ),
                  width: "15%",
                  alignment: Right,
            ),
      ],
      layout: Split(
            direction: Vertical,
            panes: [
            (
                        pane: Pane(Header),
                        borders: "ALL",
                        size: "4",
                  ),
            (
                        pane: Pane(Tabs),
                        size: "3",
                  ),
            (
                        pane: Pane(TabContent),
                        borders: "ALL",
                        size: "100%",
                  ),
            (
                        pane: Pane(ProgressBar),
                        borders: "ALL",
                        size: "3",
                  ),
            ],
      ),
      header: (
            rows: [
            (
                        left: [
                        (kind: Text("["), style: (fg: "#ea6962", modifiers: "Bold")),             // Red
                        (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "#ea6962", modifiers: "Bold")),
                        (kind: Text("]"), style: (fg: "#ea6962", modifiers: "Bold"))
                        ],
                        center: [
                        (kind: Property(Song(Title)), style: (fg: "#D3869B", modifiers: "Bold"),   // Purple
                                    default: (kind: Text("No Song"), style: (fg: "#D3869B", modifiers: "Bold"))
                              )
                        ],
                        right: [
                        (kind: Property(Widget(Volume)), style: (fg: "#83a598"))                   // Blue volume
                        ]
                  ),
            (
                        left: [
                        (kind: Property(Status(Elapsed))),
                        (kind: Text(" / ")),
                        (kind: Property(Status(Duration))),
                        (kind: Text(" (")),
                        (kind: Property(Status(Bitrate))),
                        (kind: Text(" kbps)"))
                        ],
                        center: [
                        (kind: Property(Song(Artist)), style: (fg: "#D8A657", modifiers: "Bold"),   // Yellow artist
                                    default: (kind: Text("Unknown"), style: (fg: "#D8A657", modifiers: "Bold"))
                              ),
                        (kind: Text(" - ")),
                        (kind: Property(Song(Album)), style: (fg: "#83a598", modifiers: "Bold"),
                                    default: (kind: Text("Unknown Album"), style: (fg: "#a9b665", modifiers: "Bold"))
                              )
                        ],
                        right: [
                        (
                                    kind: Property(Widget(States(
                                          active_style: (fg: "#ebdbb2", modifiers: "Bold"),       // fg0
                                          separator_style: (fg: "#ebdbb2")))
                                    ),
                                    style: (fg: "#928374")                                        // Gruvbox gray
                              ),
                        ]
                  ),
            ],
      ),
      browser_song_format: [
      (
                  kind: Group([
                  (kind: Property(Track)),
                  (kind: Text(" ")),
                  ])
            ),
      (
                  kind: Group([
                  (kind: Property(Artist)),
                  (kind: Text(" - ")),
                  (kind: Property(Title)),
                  ]),
                  default: (kind: Property(Filename))
            ),
      ],
)
